body {
    background: #f8fafc;
}

.barraNavegacion {
    display: flex;
    justify-content: center;
}

.logo {
    padding: 15px;
    background: #10b981;
}

.registrarse {
    background: #10b981;

}